body {
    font-family: Arial, sans-serif;
    color: rgb(0, 120, 225);
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 10px;
    font-size: 16px;
    
}

.background-cinza {
    width: 900px;
    height: 500px;
    background-color: #d3d3d3;
    margin-top: 20px;   
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

.palavrinhas {
    font-size: 24px;
    color: #333333;
    align-self: flex-start;
}

img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
};